{% load static %}

<!DOCTYPE html>

    
  <body>
        <br>

        <h2>Dear {{ order.ShippingAddress.name }}</h2>
        <h3>This is a remainder for your Order ID: {{ order.order_number}}</h3>
        
        {% if order.delivery_option == 'P'%}

            <h3>It is important to recall that you only have 24 hours for picking up your order in sucursal</h3>
            <h3>Sucursal address:</h3>
            <h3>Otherwise your order will be automatically cancel:</h3>
        
        {% endif %}

        {% if order.delivery_option == 'S'%}
        <h3>Shipping Details:</h3>
            {{ order.name }} </br>
            {{ order.ShippingAddress.street_address }} <br/>
            {{ order.ShippingAddress.apartment_address }} <br/>
            {{ order.ShippingAddress.municipality }} <br/>
            {{ order.ShippingAddress.state }} <br/>
            {{ order.ShippingAddress.zip }}        
        {% endif %}

        <h3>
            Contact Details:
        </h3>
        Email: {{ order.ShippingAddress.email }} <br/>
        Phone: {{ order.ShippingAddress.mobile_phone }}

        <h2>Order Details:</h2>
         

        <div class="col-md-4 mb-4" >
            {% include "order_snippet.html" %}
        </div>
                
    </body>
</html>